/* CategoriesItem */
.categoriesItem {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 1rem;
  min-height: 1.5rem;
  background-color: white;
  color: var(--main-background);
  border-width: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 2rem;
  margin: 0.25rem 1rem;
  padding: 1rem 3rem;
  text-decoration: none;
}

.categoriesItem:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cIImageContainer {
  width: 8rem;
  height: 10rem;
}

.cIImageContainer img {
  width: 100%;
  height: 90%;
}

/* Categories */
#categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}