#ProductContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.flex-half-width-padded-item {
  width: 50%;
  flex: 1;
  padding: 0 3rem;
}

#ProductImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ProductImageContainer img {
  max-width: 80%;
  max-height: 70vh;
  object-fit: contain;
}

#ProductDetailsContainer > * {
  margin: 0.65rem 0;
}

#description {
  line-height: 1.3rem;
}

#price {
  font-size: 2rem;
}

#cartControlsContainer {
  display: flex;
}

#buttonContainer {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

#buttonContainer > * {
  color: var(--main-background);
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

#buttonContainer button {
  border: none;
  color: white;
  display: flex;
  align-items: center;
}

#CartButtonsContainer > button {
  display: flex;
  align-items: center;
}

#addToCartButton > * {
  margin-inline: 0.25rem;
}

#removeFromCartButton {
  background-color: var(--danger);
}

#removeFromCartButton > *{
  margin-inline: 0.2rem;
}