#NavbarContainer {
  background-color: white;
  padding: 0 0.75rem;
  margin-bottom: 0.25rem;
  flex: 1;
  min-height: 7vh;
  width: 90%;
}

#NavbarContainer *:hover {
  cursor: pointer;
}

#categoryNavLinks {
  display: flex;
}

#NavbarContainer span {
  padding: 1.5rem 0.85rem;
  opacity: 0.65;
  flex: 1;
}

#NavbarContainer span a {
  text-decoration: none;
}

.activeLink {
  font-weight: bold;
  opacity: 1;
  color: #ff7e1b;
}

#NavbarContainer span:hover {
  opacity: 1;
  cursor: pointer;
  border-bottom-color: var(--main-background);
}

#NavbarCartandUser {
  width: 3rem;
}

#avatar-image {
  height: 40%;
  width: 40%;
}

@media all and (max-width: 52rem) {
  #NavbarContainer {
    width: 100vw;
    justify-content: space-between;
    margin-bottom: 12.5vh;
  }

  #categoryNavLinks {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(7vh + 0.25rem);
    width: 98%;
    left: -1%;
  }

  #NavbarCartandUser {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  #NavbarContainer {
    width: 100vw;
    justify-content: space-between;
    margin-bottom: 30vh;
  }

  #categoryNavLinks {
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.border-bottom {
  margin-inline: 0.65rem;
  border-bottom-width: 0.25rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
